absl-py==2.0.0
aiohttp==3.7.4.post0
aiohttp-json-rpc==0.13.3
aiosqlite==0.17.0
alabaster==0.7.16
altgraph==0.17.2
anyio==4.2.0
appdirs==1.4.4
apsw-wheels==3.36.0.post1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-generator==1.10
async-lru==2.0.4
async-timeout==3.0.1
attrs==23.1.0
auto-py-to-exe==2.23.0
Babel==2.14.0
backcall==0.2.0
beautifulsoup4==4.11.1
bitcoin-price-api==0.0.4
black==20.8b1
bleach==6.1.0
blume==0.2.4
bokeh==3.1.1
bottle==0.12.23
bottle-websocket==0.2.9
build==1.0.3
cachetools==4.1.1
cattrs==23.2.3
certifi==2020.6.20
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.12
chess==1.9.4
click==8.0.1
cloudpickle==2.2.1
colorama==0.4.4
comm==0.2.1
commonmark==0.9.1
contextlib2==21.6.0
contourpy==1.1.1
cryptography==37.0.2
cycler==0.11.0
dask==2023.5.0
dask-glm==0.3.2
dask-ml==2023.3.24
debugpy==1.8.0
decorator==4.4.2
defusedxml==0.7.1
discord.py==1.7.3
distlib==0.3.7
distributed==2023.5.0
docopt==0.6.2
docutils==0.20.1
Eel==0.14.0
exceptiongroup==1.2.0
executing==2.0.1
fastjsonschema==2.19.1
filelock==3.12.3
fishnet==1.18.1
Flask==1.1.2
flatbuffers==23.5.26
fonttools==4.29.1
fqdn==1.5.1
fsspec==2023.12.1
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.3.3
gevent==21.12.0
gevent-websocket==0.10.1
google-api-core==2.11.0
google-auth==2.25.2
google-auth-oauthlib==1.0.0
google-cloud-texttospeech==2.14.1
google-pasta==0.2.0
googleapis-common-protos==1.59.0
greenlet==1.1.3
grpcio==1.51.3
grpcio-status==1.51.3
gym==0.26.2
gym-notices==0.0.8
h11==0.13.0
h5py==2.10.0
idna==3.2
imageio==2.26.1
imageio-ffmpeg==0.4.8
imagesize==1.4.1
importlib-metadata==6.1.0
importlib-resources==6.1.1
ipykernel==6.28.0
ipython==8.12.3
isoduration==20.11.0
itsdangerous==1.1.0
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
jupyter-events==0.9.0
jupyter-lsp==2.2.1
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.12.2
jupyter_server_terminals==0.5.1
jupyterlab==4.0.10
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
keras==2.13.1
Keras-Preprocessing==1.1.2
keras-tuner==1.4.6
kiwisolver==1.3.2
kt-legacy==1.0.5
libclang==16.0.6
llvmlite==0.41.1
locket==1.0.0
lxml==4.8.0
Markdown==3.3.4
MarkupSafe==2.1.3
matplotlib==3.5.1
matplotlib-inline==0.1.6
mistune==3.0.2
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.2.1
msgpack==1.0.7
multidict==5.1.0
multipledispatch==1.0.0
multitasking==0.0.10
mypy-extensions==0.4.3
nbclient==0.9.0
nbconvert==7.14.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==2.8.8
nose==1.3.7
notebook_shim==0.2.3
numba==0.58.1
numpy==1.22.1
numpydoc==1.6.0
oauthlib==3.1.0
openai==0.27.2
opencv-python==4.4.0.46
opt-einsum==3.3.0
outcome==1.1.0
overrides==7.4.0
packaging==21.3
pandas==1.4.1
pandocfilters==1.5.0
parse==1.19.0
parso==0.8.3
partd==1.4.1
pathspec==0.9.0
patsy==0.5.6
pefile==2022.5.30
pi==0.1.2
pickleshare==0.7.5
Pillow==9.4.0
pip-tools==7.3.0
pipreqs==0.4.11
pkgutil_resolve_name==1.3.10
platformdirs==3.10.0
playsound==1.3.0
proglog==0.1.10
prometheus-client==0.19.0
prompt-toolkit==3.0.43
proto-plus==1.22.2
protobuf==3.20.3
psutil==5.8.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
pycparser==2.20
PyGetWindow==0.0.9
Pygments==2.10.0
pyinstaller==5.4.1
pyinstaller-hooks-contrib==2022.10
pykalman==0.9.5
pymongo==3.11.0
PyMsgBox==1.0.9
PyNaCl==1.4.0
pyOpenSSL==22.0.0
pyotp==2.7.0
pyparsing==3.0.7
pyperclip==1.8.1
pyproject_hooks==1.0.0
pypyodbc==1.3.6
pyrate-limiter==2.10.0
PyRect==0.1.4
PyScreeze==0.1.26
PySocks==1.7.1
python-chess==0.31.4
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.20.0
python-json-logger==2.0.7
python-Levenshtein-wheels==0.13.2
PythonTurtle==0.3.1
PyTweening==1.0.3
pytz==2021.1
pywin32==306
pywin32-ctypes==0.2.0
pywinpty==2.0.12
PyYAML==5.4.1
pyzmq==25.1.2
-e git+https://github.com/SFUAnime/Ren.git@da93269328e4dd1f5cda317f589b2c322e641026#egg=Red_DiscordBot
Red-Lavalink==0.9.0
referencing==0.32.1
regex==2021.8.28
requests==2.31.0
requests-cache==1.1.1
requests-oauthlib==1.3.0
requests-ratelimiter==0.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==10.9.0
rpds-py==0.16.2
rsa==4.6
schema==0.7.4
scikeras==0.12.0
scikit-learn==1.2.2
scipy==1.4.1
selenium==4.2.0
Send2Trash==1.8.2
six==1.16.0
skorch==0.15.0
sniffio==1.2.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sparse==0.14.0
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
stack-data==0.6.3
statsmodels==0.14.1
syllapy==0.7.2
sympy==1.11.1
tabulate==0.8.9
tblib==3.0.0
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.7.0
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==1.1.0
terminado==0.18.0
threadpoolctl==3.2.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.0.0+cu118
torchaudio==2.0.1+cu118
torchvision==0.15.1+cu118
tornado==6.4
tqdm==4.65.0
traitlets==5.14.1
trio==0.21.0
trio-websocket==0.9.2
typed-ast==1.4.3
types-python-dateutil==2.8.19.20240106
typing_extensions==4.5.0
uri-template==1.3.0
url-normalize==1.4.3
urllib3==1.26.9
virtualenv==20.24.4
wcwidth==0.2.13
webcolors==1.13
webdriver-manager==3.7.0
webencodings==0.5.1
websocket-client==1.7.0
Werkzeug==1.0.1
whichcraft==0.6.1
wrapt==1.12.1
wsproto==1.1.0
wxPython==4.1.0
xyzservices==2023.10.1
yarg==0.1.9
yarl==1.6.3
yfinance==0.1.70
z3-solver==4.11.2.0
zict==3.0.0
zipp==3.15.0
zope.event==4.5.0
zope.interface==5.4.0
